# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next/
out/

# Production
build
dist

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Strapi
.tmp
.cache
build/
exports/
.strapi-updater.json
backend/public/uploads/

# PostgreSQL data (Docker volumes are handled by Docker, but just in case)
postgres_data/
